@import "settings";
@import 'foundation-sites/foundation';
@include foundation-everything;

section { height: 100vh; }

/*.Nissan {*/
  /*stroke: #85D182;*/
/*}*/

/*.Honda {*/
  /*stroke: #7FBCB6;*/
/*}*/

/*.Toyota {*/
  /*stroke: #FFBE83;*/
/*}*/

/*.Chevrolet {*/
  /*stroke: #F98E3C;*/
/*}*/

/*.Dodge {*/
  /*stroke: #FF9D9C;*/
/*}*/

/*.Ford {*/
  /*stroke: #9ACBE6;*/
/*}*/

.is-active {
  font-size: 1.5em;
}

